# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Tim Sabsch
email = tim.sabsch@codecentric.de
[core]
	excludesfile = /Users/tsabsch/.gitignore_global
	editor = nvim
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
[pull]
	rebase = false
[init]
	defaultBranch = main

[includeIf "gitdir:~/private/"]
	path = ~/private/.gitconfig
[push]
	autoSetupRemote = true

